<app-header></app-header>

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="/">Accueil</a> / Achat , Vente & Location</span>
        <h2>Achat , Vente & Location</h2>
    </div>
</div>
<!-- banner -->


<div class="container">
    <div class="properties-listing spacer">

        <div class="row">
            <div class="col-lg-3 col-sm-4 ">

                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Chercher</h4>
                    <input type="text" class="form-control" placeholder="Recherche des Immobilières">
                    <div class="row">
                        <div class="col-lg-5">
                            <select class="form-control">
                                <option>Achat</option>
                                <option>Location</option>
                                <option>Vente</option>
                            </select>
                        </div>
                        <div class="col-lg-7">
                            <select class="form-control">
                                <option>Prix</option>
                                <option>TND 150,000 - TND 200,000</option>
                                <option>TND 200,000 - TND 250,000</option>
                                <option>TND 250,000 - TND 300,000</option>
                                <option>TND 300,000 - above</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <select class="form-control">
                                <option>Type</option>
                                <option>Appartement</option>
                                <option>Immeuble</option>
                                <option>Terrain</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary">Chercher Maintenant</button>

                </div>



                <div class="hot-properties hidden-xs">
                    <h4>Meilleures Immobilières</h4>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="./../../../assets/images/properties/1.jpg"
                                class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">TND 300,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="./../../../assets/images/properties/1.jpg"
                                class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">TND 300,000</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="./../../../assets/images/properties/1.jpg"
                                class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">TND 300,000</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-5"><img src="./../../../assets/images/properties/1.jpg"
                                class="img-responsive img-circle" alt="properties"></div>
                        <div class="col-lg-8 col-sm-7">
                            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                            <p class="price">TND 300,000</p>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <select class="form-control">
                            <option>Trié Par </option>
                            <option>Prix: Croissant</option>
                            <option>Prix: Décroissant</option>
                        </select>
                    </div>

                </div>
                <div class="row">

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/1.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->


                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/2.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/3.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/1.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/4.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/1.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/4.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/3.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/2.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->
                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/1.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/4.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->

                    <!-- properties -->
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="./../../../assets/images/properties/3.jpg" class="img-responsive"
                                    alt="properties">
                                <div class="status sold">Sold</div>
                            </div>
                            <h4><a href="property-detail.php">Royal Inn</a></h4>
                            <p class="price">Prix: TND 234,900</p>
                            <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Bed Room">5</span> <span data-toggle="tooltip"
                                    data-placement="bottom" data-original-title="Living Room">2</span> <span
                                    data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                                <span data-toggle="tooltip" data-placement="bottom"
                                    data-original-title="Kitchen">1</span> </div>
                            <a class="btn btn-primary" href="property-detail.php">Voit Détails</a>
                        </div>
                    </div>
                    <!-- properties -->
                    <div class="center">
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>