<!DOCTYPE html>
<html lang="en">


<body>


<!-- Header Starts -->
<div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/about">A propos</a></li>
                <li><a href="/agents">Agents</a></li>         
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

    </div>
<!-- #Header Starts -->





<div class="container">

<!-- Header Starts -->
<div class="header">
<a href="/"><img src="../assets/images/gdstart-logo.png" alt="Realestate"></a>

              <ul class="pull-right">
                <li><a href="/properties">Achat</a></li>
                <li><a href="/properties">Vente</a></li>         
                <li><a href="/properties">Location</a></li>
              </ul>
</div>
<!-- #Header Starts -->
</div>
