<app-header></app-header>

<!-- banner -->
<div class="inside-banner">
    <div class="container"> 
      <span class="pull-right"><a href="/">Accueil</a> / Contact</span>
      <h2>Contact Us</h2>
  </div>
  </div>
  <!-- banner -->
  
  
  <div class="container">
  <div class="spacer">
  <div class="row contact">
    <div class="col-lg-6 col-sm-6 ">
  
  
                  <input type="text" class="form-control" placeholder="Full Name">
                  <input type="text" class="form-control" placeholder="Email Address">
                  <input type="text" class="form-control" placeholder="Contact Number">
                  <textarea rows="6" class="form-control" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
            
  
  
                  
          </div>
    <div class="col-lg-6 col-sm-6 ">
    <div class="well"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12783.8008710264!2d10.2272934!3d36.7717617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd359185fa10ad%3A0xd593ea4f919662d1!2sGD%20Start%20Immo!5e0!3m2!1sfr!2stn!4v1716076284026!5m2!1sfr!2stn"></iframe></div>
    </div>
  </div>
  </div>
  </div>

<app-footer></app-footer>